<section class="cart_section">
    <div class="container">
        <h2>Table of Products</h2>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody id="cartTableBody">
            </tbody>
        </table>
        <div class="button-container">
            <button class="btn buy-all" (click)="buyAllItems()">Buy All</button>
        </div>
    </div>
</section>