<div class="container">
    <h3 class="header">EXCERCISES BY MUSCLE GROUP</h3>
    <div class="box-container">
        <div class="card-container">
            <div class="card">
                <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/abductors.jpg">
                <!-- <img src="../../assests/images/aa.png"> -->

                <div class="card-content">
                    <h3>Abductors</h3>
                    <a routerLink="/abductors" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn">Read
                        more</a>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <img src="https://cdn.muscleandstrength.com/sites/default/files/taxonomy/image/videos/abs_0.jpg">
                <div class="card-content">
                    <h3>Abs</h3>
                    <a routerLink="/abs" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn">Read
                        more</a>
                </div>
            </div>
        </div>

    </div>
</div>