<body>
    <div class="registration-box">
        <h2>Registration</h2>
        <form>
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="Enter your first name" required>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Enter your last name" required>
                </div>
                <div class="input-box">
                    <span class="details">ID Number</span>
                    <input type="text" placeholder="Enter your ID number" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" required>
                </div>
                <div class="input-box">
                    <span class="details">City</span>
                    <input type="text" placeholder="Enter your city" required>
                </div>
                <div class="input-box">
                    <span class="details">Street</span>
                    <input type="text" placeholder="Enter your street" required>
                </div>
                <div class="input-box">
                    <span class="details">House Number</span>
                    <input type="number" placeholder="Enter your house number" required>
                </div>
                <div class="input-box">
                    <span class="details">Credit Card Details</span>
                    <input type="text" placeholder="Enter your credit card details" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>

        </form>
    </div>


</body>