<div class="container">
    <h3 class="header">Abductors Exercises</h3>
    <h1> Abductors exercises. Target your abductors with these movements.</h1><br>
    <div class="box-container">
        <div class="card-container">
            <div class="card">
                <img src="https://cdn.muscleandstrength.com/sites/default/files/hip-abduction-machine.jpg">
                <!-- <img src="../../assests/images/aa.png"> -->

                <div class="card-content">
                    <h3>Hip Abduction machine</h3>
                    <a routerLink="/hipAbductionMachineComponent" routerLinkActive="active" ariaCurrentWhenActive="page"
                        class="btn">View
                        Exercise</a>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <img
                    src="https://cdn.muscleandstrength.com/sites/default/files/styles/400x250/public/field/image/exercise/cableabduction1.jpg?itok=fxaZxcVX">
                <!-- <img src="../../assests/images/aa.png"> -->

                <div class="card-content">
                    <h3>Cable Hip Abduction</h3>
                    <a routerLink="/cableHipAbductionComponent" routerLinkActive="active" ariaCurrentWhenActive="page"
                        class="btn">View
                        Exercise</a>
                </div>
            </div>
        </div>

    </div>
</div>