<div class="home-container">
  <h1>Welcome to Gym-Tech</h1>
  <p>GYMTECH is your go-to resource for everything related to our gym. Our website provides comprehensive information
    about all the facilities available, detailed descriptions and demonstrations of exercises, and an up-to-date
    schedule of your training sessions. In your personal area, you can track your progress, view upcoming sessions, and
    access personalized workout plans. Additionally, we offer an online shop where you can purchase gym-related products
    to enhance your training experience. Our goal is to create a user-friendly platform that supports your fitness
    journey and helps you make the most out of our gym facilities.</p>
</div>

<section class="image-container">
  <img class="mySlides small-image" alt="picture in home page" sizes="(max-width: 399px) 240px, 480px"
    src="https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg">
  <img class="mySlides small-image" alt="picture in home page" sizes="(max-width: 399px) 240px, 480px"
    src="https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg">
  <img class="mySlides small-image" alt="picture in home page" sizes="(max-width: 399px) 240px, 480px"
    src="https://images.pexels.com/photos/791764/pexels-photo-791764.jpeg">
</section>