<div class="container">
    <h3 class="header">Abs Exercises
    </h3>
    <h1> Abs exercises. Build impressive "6-pack abs" with these movements.

    </h1><br>
    <div class="box-container">
        <div class="card-container">
            <div class="card">
                <img src="https://cdn.muscleandstrength.com/sites/default/files/lying-leg-raise-1.jpg">
                <!-- <img src="../../assests/images/aa.png"> -->

                <div class="card-content">
                    <h3>Lying Floor Leg Raise</h3>
                    <a routerLink="/lyingFloorLegRaiseComponent" routerLinkActive="active" ariaCurrentWhenActive="page"
                        class="btn">View
                        Exercise</a>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <img src="https://cdn.muscleandstrength.com/sites/default/files/weighted-crunch.jpg">
                <!-- <img src="../../assests/images/aa.png"> -->

                <div class="card-content">
                    <h3>Weighted Crunch</h3>
                    <a routerLink="/weightedCrunchComponent" routerLinkActive="active" ariaCurrentWhenActive="page"
                        class="btn">View
                        Exercise</a>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <img src="https://cdn.muscleandstrength.com/sites/default/files/sit-up_0.jpg">
                <!-- <img src="../../assests/images/aa.png"> -->

                <div class="card-content">
                    <h3>Sit Up</h3>
                    <a routerLink="/sitUpComponent" routerLinkActive="active" ariaCurrentWhenActive="page"
                        class="btn">View
                        Exercise</a>
                </div>
            </div>
        </div>

    </div>
</div>