<!-- Footer -->
<footer class="footer">
    <a href="https://www.facebook.com/?locale=he_IL"><i class="fa fa-facebook-official"></i></a>
    <a href="https://x.com/?mx=2"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
    <a
        href="https://www.yahoo.com/?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAACzzuNKm2GUjYrIRivRgN3-l55rKyHRUxSaDIcmdXOj1OXCC0vyGrQuWeLfMQqIPX26yT4W9a21LKh5gdP5My3Ux1ZnhAqWtYz-xYoJYFK-ueBXiiSyZghSvDldATfSQJR2wk0xnkcmxOYOTnFTsjC6OoOb_WRKuT0wbM97fGYj7"><i
            class="fa fa-yahoo"></i></a>
</footer>