<div class="container">
    <youtube-player class="youtube-player" videoId="skj7oCw_uKs" placeholderImageQuality="standard"></youtube-player>
</div>

<div class="node-stats-block">
    <h5>Exercise Profile</h5>
    <ul>
        <li><span class="row-label">Target Muscle Group</span>
            <div class="field field-name-field-main-muscle field-type-taxonomy-term-reference field-label-hidden">
                <div class="field-items">
                    <div class="field-item even"><a href="/exercises/abductors.html">Abductors</a></div>
                </div>
            </div>
        </li>
        <li><span class="row-label">Exercise Type</span>Strength</li>
        <li><span class="row-label">Equipment Required</span>Machine</li>
        <li><span class="row-label">Mechanics</span>Isolation</li>
        <li><span class="row-label">Force Type</span>Push (Bilateral)</li>
        <li><span class="row-label">Experience Level</span>Beginner</li>
        <li class="last"><span class="row-label">Secondary Muscles</span>
            <div class="field-type-list-text">Abs, Glutes, Hamstrings</div>
        </li>
    </ul>
</div>

<div class="image-container">
    <img src="https://cdn.muscleandstrength.com/sites/all/themes/mnsnew/images/taxonomy/exercises/muscle-groups/full/Abductors.jpg"
        alt="Abductors Muscle Anatomy Diagram">
</div>